/* src/components/Home.css */
.home {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,6,1) 100%);
    color: white;
    padding: 20px;
    height: 100%;
  }
  
  .home-content h2 {
    margin-bottom: 20px;
  }

  .home-content {
    margin-bottom: 50px;
  }

  
  
  .images-link p {
    margin: 20px 0;
    cursor: pointer;
  }
  
  /* src/components/Header.css */
  .header {
    background-color: black;
    padding: 10px 20px;
    color: white;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
  }

 
  

  
 
  @media (max-width: 600px) {

    .home {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,6,1) 100%);
      color: white;
      padding: 20px;
      height: 100%;
    }

    .header {
    width: 100% 
    }

    .home-content h2 {
      margin-bottom: 70px;
    }

    .home-content {
      margin-bottom: 100px;
    }

    

  }


  .dd-images-link {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 80%;
    margin-left: 9%;
    padding: 9px 0;
  }

  @media (min-width: 601px) {
    .dd-images-link {
      margin-top: 20px;
      background-color: black;
      color: white;
      border-radius: 20px;
      height: 29%;
      margin-left: 25%;
      width: 40%;
      padding: 20px 0;
    }


  }