.view-ebook-page {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 110px;
  }
  
  .view-ebook-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 20%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    z-index: 1;
  }
  
  .view-ebook-container h2 {
    margin-top: 0;
  }
  
  .play-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .play-button:hover {
    background-color: #0056b3;
  }
  
  .e-player-dialogue-box {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 800;
    overflow-y: auto; /* Allow scrolling if needed */
    margin-bottom: 30px;
  }
  
  .ebook-player-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
  
  .close-button {
    margin-top: 10px;
    width: 80%;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #c9302c;
  }
  
  /* This is the starting of the second half*/
  
  .ebook-main-comment {
    margin-top: 25px;
    margin-bottom: 80px;
    z-index: 1;
  }
  
  .white-text {
    color: white;
  }
  
  .ebook-comments-section h3 {
    color: white;
  }
  
  @media (min-width: 601px) {
  
    .view-ebook-page {
      align-items: center;
    }
  
    .view-ebook-container {
      width: 30%;
    }
  
    .ebook-main-comment {
      width: 40%;
    }
  
    .ebook-player-dialogue-box {
      height: 70%;
      width: 50%;
      left: 30%;
      top: 20%;
      margin-top: 0;
      margin-bottom: 0;
      flex-direction: column;
    }
  
    .ebook-player-container {
      height: auto;
      margin-top: auto;
      top: 0;
    }
  
    .close-button {
      bottom: 5%;
    }
  }